{
  "env": {
    "browser": true,
    "es2021": true
  },
  "plugins": [
    "react",
    "react-hooks",
    "@typescript-eslint"
  ],
  "extends": [
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb",
    "airbnb-typescript",
    "airbnb/hooks"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/comma-dangle": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/react-in-jsx-scope": "off",
    "jsx-quotes": [
      "warn",
      "prefer-single"
    ],
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": "off",
    "import/prefer-default-export": "off",
    "react/destructuring-assignment": "off",
    "react/require-default-props": "off",
    "no-plusplus": "off",
    "object-curly-newline": "off"
  },
  "ignorePatterns": [
    "vite.config.*"
  ]
}